flow.json
[
    {
        "id": "f52356682ef521b6",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d78b39c09204eea4",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "55432",
        "portFieldType": "num",
        "database": "node-red",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "max": "10",
        "maxFieldType": "num",
        "min": "1",
        "minFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "egg1412",
        "passwordFieldType": "str"
    },
    {
        "id": "be49ada61521b13f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4222a6df4c264e6e",
        "type": "ui_tab",
        "name": "Signal Filter",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "64030592aff108e0",
        "type": "ui_tab",
        "name": "Signal List",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a150654431bcedaa",
        "type": "ui_group",
        "name": "Tag A",
        "tab": "4222a6df4c264e6e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d382eefa6589a19f",
        "type": "ui_group",
        "name": "Tag B",
        "tab": "4222a6df4c264e6e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6091cb15367ef65f",
        "type": "ui_group",
        "name": "Tag C",
        "tab": "4222a6df4c264e6e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ffa2c620faf54920",
        "type": "ui_group",
        "name": "Tag D",
        "tab": "4222a6df4c264e6e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "143f2e3d8dad21cc",
        "type": "ui_group",
        "name": "Tag E",
        "tab": "4222a6df4c264e6e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "651dc696fd2b8cfe",
        "type": "ui_group",
        "name": "Tag A",
        "tab": "64030592aff108e0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f60b9331b2cc1656",
        "type": "ui_group",
        "name": "Tag B",
        "tab": "64030592aff108e0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "971fd87586276471",
        "type": "ui_group",
        "name": "Tag C",
        "tab": "64030592aff108e0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10dd831f20b79787",
        "type": "ui_group",
        "name": "Tag D",
        "tab": "64030592aff108e0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7488f4292d624528",
        "type": "ui_group",
        "name": "Tag E",
        "tab": "64030592aff108e0",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3fc7819352ade78",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "4222a6df4c264e6e",
        "order": 6,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b65741aa580f2ca",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "64030592aff108e0",
        "order": 6,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1efe79154ea262b7",
        "type": "inject",
        "z": "f52356682ef521b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test_AAA",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "028d4002f882cbd0"
            ]
        ]
    },
    {
        "id": "8f3ae5ec69535d6f",
        "type": "debug",
        "z": "f52356682ef521b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 820,
        "wires": []
    },
    {
        "id": "41ace98fb0de4bca",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagA",
        "field": "All",
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "732e65e32d7ab276",
                "48c33b3475c35787",
                "930c0bda5c3751dc",
                "917bcc608f8d7037",
                "1747cfcd3a92f4ce"
            ]
        ]
    },
    {
        "id": "028d4002f882cbd0",
        "type": "postgresql",
        "z": "f52356682ef521b6",
        "name": "",
        "query": "SELECT a.\"TagName\", a.\"Description\", a.\"SigType\",\na.\"EuUnit\", a.\"EuLo\", a.\"EuHi\", a.\"LimitLoLo\",\na.\"LimitLo\", a.\"LimitHi\", a.\"LimitHiHi\",\nb.\"TimeStamp\", b.\"Value\", b.\"Quality\"\nFROM \"TagMaster\" a, \"TagValue\" b WHERE a.\"TagName\" = b.\"TagName\";",
        "postgreSQLConfig": "d78b39c09204eea4",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "41ace98fb0de4bca",
                "a1532f3bca50d039",
                "4cbd88bbfd756c1e",
                "959963054c946898",
                "e03be3a7335b7663",
                "99fdd845a47b13db",
                "d9a25bbf0e3df2cf",
                "390eba1eb0f51dd1",
                "22b6cc830cb28fe3",
                "d4bbfaa5cf290988",
                "c46295d9144276ab",
                "df6324d00a99139c",
                "87863721210704d7",
                "f4cd43a7989f968e",
                "0b889a6c1eee723a",
                "49d21e0783834096",
                "b77b1add6847e96c",
                "20c41a234f50721a",
                "0aac13fbe510042c",
                "41e1be2a079c2253"
            ]
        ]
    },
    {
        "id": "a1532f3bca50d039",
        "type": "signal-taga",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagA",
        "field": "All",
        "x": 1110,
        "y": 880,
        "wires": [
            [
                "8f3ae5ec69535d6f",
                "16dbcef345133387",
                "78096bca2cb48544",
                "05c5c75217424ab7",
                "8288e6e0ecefacec"
            ]
        ]
    },
    {
        "id": "4cbd88bbfd756c1e",
        "type": "signal-tagb",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagB",
        "field": "All",
        "x": 1110,
        "y": 940,
        "wires": [
            [
                "8f3ae5ec69535d6f",
                "61879bd25d8ab09c",
                "6d73895555dea42e",
                "d411631687c14357",
                "8288e6e0ecefacec"
            ]
        ]
    },
    {
        "id": "959963054c946898",
        "type": "signal-tagc",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagC",
        "field": "All",
        "x": 1110,
        "y": 1000,
        "wires": [
            [
                "8f3ae5ec69535d6f",
                "b9c0e31c60ce9b31",
                "6ef2f4694cb4aa48",
                "e3247f0a83843de6",
                "8288e6e0ecefacec"
            ]
        ]
    },
    {
        "id": "e03be3a7335b7663",
        "type": "signal-tagd",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagD",
        "field": "All",
        "x": 1110,
        "y": 1060,
        "wires": [
            [
                "8f3ae5ec69535d6f",
                "a15d43745c338c58",
                "1e486ed6a7a187da",
                "84061be9e21302f8",
                "8288e6e0ecefacec"
            ]
        ]
    },
    {
        "id": "99fdd845a47b13db",
        "type": "signal-tage",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagE",
        "field": "All",
        "x": 1110,
        "y": 1120,
        "wires": [
            [
                "8f3ae5ec69535d6f",
                "d5a5dead9e3f4d6c",
                "b1ee5b3bf7eb9394",
                "b1a45fa4a0e47611",
                "8288e6e0ecefacec"
            ]
        ]
    },
    {
        "id": "d9a25bbf0e3df2cf",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagB",
        "field": "All",
        "x": 1110,
        "y": 160,
        "wires": [
            [
                "732e65e32d7ab276",
                "7dc953769a688558",
                "685a5c19ef4db02e",
                "81d44047679799b6",
                "1747cfcd3a92f4ce"
            ]
        ]
    },
    {
        "id": "390eba1eb0f51dd1",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagC",
        "field": "All",
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "732e65e32d7ab276",
                "6e1da57f3faf722b",
                "8a11d460d53a637a",
                "c70ca1477224a024",
                "1747cfcd3a92f4ce"
            ]
        ]
    },
    {
        "id": "22b6cc830cb28fe3",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagD",
        "field": "All",
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "732e65e32d7ab276",
                "688ac64ad22e5cf3",
                "7e2d0217cd8aa40a",
                "92a84cd206e6b841",
                "1747cfcd3a92f4ce"
            ]
        ]
    },
    {
        "id": "d4bbfaa5cf290988",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagE",
        "field": "All",
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "732e65e32d7ab276",
                "144e5e82a2e66de6",
                "f52c6c80421d94f4",
                "a8a20f92e9b23517",
                "1747cfcd3a92f4ce"
            ]
        ]
    },
    {
        "id": "732e65e32d7ab276",
        "type": "debug",
        "z": "f52356682ef521b6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 40,
        "wires": []
    },
    {
        "id": "48c33b3475c35787",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "a150654431bcedaa",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 160,
        "wires": []
    },
    {
        "id": "7dc953769a688558",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "d382eefa6589a19f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 220,
        "wires": []
    },
    {
        "id": "6e1da57f3faf722b",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "6091cb15367ef65f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 280,
        "wires": []
    },
    {
        "id": "688ac64ad22e5cf3",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "ffa2c620faf54920",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 340,
        "wires": []
    },
    {
        "id": "144e5e82a2e66de6",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "143f2e3d8dad21cc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 400,
        "wires": []
    },
    {
        "id": "930c0bda5c3751dc",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "a150654431bcedaa",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 180,
        "wires": []
    },
    {
        "id": "685a5c19ef4db02e",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "d382eefa6589a19f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 240,
        "wires": []
    },
    {
        "id": "8a11d460d53a637a",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "6091cb15367ef65f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 300,
        "wires": []
    },
    {
        "id": "7e2d0217cd8aa40a",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "ffa2c620faf54920",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 360,
        "wires": []
    },
    {
        "id": "f52c6c80421d94f4",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "143f2e3d8dad21cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 420,
        "wires": []
    },
    {
        "id": "917bcc608f8d7037",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "a150654431bcedaa",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 140,
        "wires": []
    },
    {
        "id": "81d44047679799b6",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "d382eefa6589a19f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 200,
        "wires": []
    },
    {
        "id": "c70ca1477224a024",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "6091cb15367ef65f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 260,
        "wires": []
    },
    {
        "id": "92a84cd206e6b841",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "ffa2c620faf54920",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 320,
        "wires": []
    },
    {
        "id": "a8a20f92e9b23517",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "143f2e3d8dad21cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 380,
        "wires": []
    },
    {
        "id": "78096bca2cb48544",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "651dc696fd2b8cfe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 940,
        "wires": []
    },
    {
        "id": "6d73895555dea42e",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "f60b9331b2cc1656",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 1000,
        "wires": []
    },
    {
        "id": "6ef2f4694cb4aa48",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "971fd87586276471",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "1e486ed6a7a187da",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "10dd831f20b79787",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b1ee5b3bf7eb9394",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "7488f4292d624528",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.payload.TagName}}",
        "format": "{{msg.payload.Value}} {{msg.payload.EuUnit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 1180,
        "wires": []
    },
    {
        "id": "05c5c75217424ab7",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "651dc696fd2b8cfe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 960,
        "wires": []
    },
    {
        "id": "d411631687c14357",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "f60b9331b2cc1656",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e3247f0a83843de6",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "971fd87586276471",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 1080,
        "wires": []
    },
    {
        "id": "84061be9e21302f8",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "10dd831f20b79787",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b1a45fa4a0e47611",
        "type": "ui_gauge",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "7488f4292d624528",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.payload.Description}}",
        "label": "{{msg.payload.EuUnit}}",
        "format": "{{msg.payload.Value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 1730,
        "y": 1200,
        "wires": []
    },
    {
        "id": "16dbcef345133387",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "651dc696fd2b8cfe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 920,
        "wires": []
    },
    {
        "id": "61879bd25d8ab09c",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "f60b9331b2cc1656",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 980,
        "wires": []
    },
    {
        "id": "b9c0e31c60ce9b31",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "971fd87586276471",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a15d43745c338c58",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "10dd831f20b79787",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d5a5dead9e3f4d6c",
        "type": "ui_text",
        "z": "f52356682ef521b6",
        "group": "7488f4292d624528",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.TimeStamp}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f4768b4e3b6ecd63",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "a150654431bcedaa",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c46295d9144276ab",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagA",
        "field": "Value",
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "f4768b4e3b6ecd63",
                "9337ea49658161f2"
            ]
        ]
    },
    {
        "id": "df6324d00a99139c",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagB",
        "field": "Value",
        "x": 1110,
        "y": 520,
        "wires": [
            [
                "5894f49a5fdb3e3e",
                "754d70100ebb04ae"
            ]
        ]
    },
    {
        "id": "87863721210704d7",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagC",
        "field": "Value",
        "x": 1110,
        "y": 580,
        "wires": [
            [
                "8e419c47ccf0d5e0",
                "d22738b8ce829b57"
            ]
        ]
    },
    {
        "id": "f4cd43a7989f968e",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagD",
        "field": "Value",
        "x": 1110,
        "y": 640,
        "wires": [
            [
                "3d75501891e10ff6",
                "e2f0eb79370772ed"
            ]
        ]
    },
    {
        "id": "0b889a6c1eee723a",
        "type": "signal-filter",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagE",
        "field": "Value",
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "507efc1d53cc89b8",
                "d6f6a5bdaffbbbcf"
            ]
        ]
    },
    {
        "id": "5894f49a5fdb3e3e",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "d382eefa6589a19f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8e419c47ccf0d5e0",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "6091cb15367ef65f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3d75501891e10ff6",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "ffa2c620faf54920",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "507efc1d53cc89b8",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "143f2e3d8dad21cc",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "49d21e0783834096",
        "type": "signal-taga",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagA",
        "field": "Value",
        "x": 1110,
        "y": 1240,
        "wires": [
            [
                "8298dcab0e56f312",
                "25a713f9e855a64d"
            ]
        ]
    },
    {
        "id": "b77b1add6847e96c",
        "type": "signal-tagb",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagB",
        "field": "Value",
        "x": 1110,
        "y": 1300,
        "wires": [
            [
                "613b8df9b315a05a",
                "c70fc06e9aea105b"
            ]
        ]
    },
    {
        "id": "20c41a234f50721a",
        "type": "signal-tagc",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagC",
        "field": "Value",
        "x": 1110,
        "y": 1360,
        "wires": [
            [
                "e4eb6bc40b8a8a56",
                "ceb7479448e952ee"
            ]
        ]
    },
    {
        "id": "0aac13fbe510042c",
        "type": "signal-tagd",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagD",
        "field": "Value",
        "x": 1110,
        "y": 1420,
        "wires": [
            [
                "4f226a8bcd7cc272",
                "ba8446a1d9830b00"
            ]
        ]
    },
    {
        "id": "41e1be2a079c2253",
        "type": "signal-tage",
        "z": "f52356682ef521b6",
        "name": "",
        "tag": "TagE",
        "field": "Value",
        "x": 1110,
        "y": 1480,
        "wires": [
            [
                "350997102acd2684",
                "23061c0f4016bb50"
            ]
        ]
    },
    {
        "id": "8298dcab0e56f312",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "651dc696fd2b8cfe",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "613b8df9b315a05a",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "f60b9331b2cc1656",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "e4eb6bc40b8a8a56",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "971fd87586276471",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "4f226a8bcd7cc272",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "10dd831f20b79787",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "350997102acd2684",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "7488f4292d624528",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "61",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "9337ea49658161f2",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "a150654431bcedaa",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": false,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 480,
        "wires": []
    },
    {
        "id": "754d70100ebb04ae",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "d382eefa6589a19f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 540,
        "wires": []
    },
    {
        "id": "d22738b8ce829b57",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "6091cb15367ef65f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 600,
        "wires": []
    },
    {
        "id": "e2f0eb79370772ed",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "ffa2c620faf54920",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 660,
        "wires": []
    },
    {
        "id": "d6f6a5bdaffbbbcf",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "143f2e3d8dad21cc",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 720,
        "wires": []
    },
    {
        "id": "25a713f9e855a64d",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "651dc696fd2b8cfe",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c70fc06e9aea105b",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "f60b9331b2cc1656",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ceb7479448e952ee",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "971fd87586276471",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ba8446a1d9830b00",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "10dd831f20b79787",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 1440,
        "wires": []
    },
    {
        "id": "23061c0f4016bb50",
        "type": "ui_level",
        "z": "f52356682ef521b6",
        "group": "7488f4292d624528",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "30",
        "segHigh": "70",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1570,
        "y": 1500,
        "wires": []
    },
    {
        "id": "e08cd45436c411f5",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "d3fc7819352ade78",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "radar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1747cfcd3a92f4ce",
        "type": "function",
        "z": "f52356682ef521b6",
        "name": "",
        "func": "msg.topic = msg.payload.TagName;\nmsg.payload = Number(msg.payload.Value);\nnode.send(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 80,
        "wires": [
            [
                "e08cd45436c411f5"
            ]
        ]
    },
    {
        "id": "409d31bb2a9c87a4",
        "type": "ui_chart",
        "z": "f52356682ef521b6",
        "name": "",
        "group": "5b65741aa580f2ca",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "radar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "8288e6e0ecefacec",
        "type": "function",
        "z": "f52356682ef521b6",
        "name": "",
        "func": "msg.topic = msg.payload.TagName;\nmsg.payload = Number(msg.payload.Value);\nnode.send(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 860,
        "wires": [
            [
                "409d31bb2a9c87a4"
            ]
        ]
    }
]